<form class="form-inline">

  <div class="form-group"  >
    <div class="input-group">
      <my-date-picker name="mydate" #datePicker="ngModel" [options]="myDatePickerOptions"
                      [(ngModel)]="condition.startTime"></my-date-picker>
    </div>
    <div [hidden]="condition.startTime!=null" class="alert alert-danger" style="padding: 0.53rem 1rem;">
      时间为必填项！
    </div>
    <div class="input-group">
      <my-date-picker name="mydate1" #datePicker="ngModel" [options]="myDatePickerOptions"
                      [(ngModel)]="condition.endTime"></my-date-picker>
    </div>
    <div [hidden]="condition.endTime!=null" class="alert alert-danger" style="padding: 0.53rem 1rem;">
      时间为必填项！
    </div>
  </div>
  <!-- 分隔 -->
  <div style="width: 2px"></div>

  <div class="form-group">
    <div class="input-group">
      <select class="form-control" name="obj" [(ngModel)]="condition.cellType" style="width: 170px;height: 36px">
        <option *ngFor="let op of _cellTypes" [value]="op.value">{{op.label}}</option>
      </select>
    </div>
  </div>

  <!-- 分隔 -->
  <div style="width: 2px" [hidden]="condition.cellType=='network'"></div>

  <div class="form-group">
    <div class="input-group">
      <input class="form-control" #cellId="ngModel" [hidden]="condition.cellType=='network'"
             [(ngModel)]="condition.cellInput" name="cellId" required>
    </div>
    <div [hidden]="cellId.valid||condition.cellType=='network'" class="alert alert-danger"
         style="padding: 0.53rem 1rem;">
      {{condition.cellType}}为必填项！
    </div>
  </div>

  <!-- 分隔 -->
  <div style="width: 2px"></div>

  <div class="form-group">
    <div class="input-group">
      <select class="form-control" name="datatype" [(ngModel)]="condition.interfaceType"
              (ngModelChange)="onChangeInterfaceType()" style="width: 170px;height: 36px">
        <option *ngFor="let op of _interfaces" [value]="op.value">{{op.label}}</option>
      </select>
    </div>
  </div>

  <!-- 分隔 -->
  <div style="width: 2px"></div>

  <div class="form-group">
    <div class="input-group">
      <ss-multiselect-dropdown [ngModelOptions]="{standalone: true}" [options]="getIndicatorSelectItems"
                               [(ngModel)]="condition.indicatorSelectItemIds"
                               [texts]="myTexts" [settings]="mySettings"></ss-multiselect-dropdown>
    </div>
    <div [hidden]="condition.indicatorSelectItemIds.length!=0" class="alert alert-danger"
         style="padding: 0.53rem 1rem;">
      指标不能为空！
    </div>
  </div>

  <!-- 分隔 -->
  <div style="width: 2px"></div>

  <div class="form-group">
    <div class="input-group">
      <button type="button" class="btn btn-default" [disabled]="condition.startTime==null || condition.endTime==null
      ||condition.cellType!='network'&&condition.cellInput==''
      ||condition.indicatorSelectItemIds.length==0"
              (click)="searchClick($event)" icon="fa-search">查询</button>
    </div>
  </div>

</form>
