<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTaskLabel" jhiTranslate="backendApp.task.home.createOrEditLabel">Create or edit a Task</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!task.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="task.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backendApp.task.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="task.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backendApp.task.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                [(ngModel)]="task.status"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backendApp.task.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="task.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backendApp.task.fileId" for="field_fileId">File Id</label>
            <input type="number" class="form-control" name="fileId" id="field_fileId"
                [(ngModel)]="task.fileId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backendApp.task.startTime" for="field_startTime">Start Time</label>
            <div class="d-flex">
                <input id="field_startTime" type="datetime-local" class="form-control" name="startTime" [(ngModel)]="task.startTime"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backendApp.task.endTime" for="field_endTime">End Time</label>
            <div class="d-flex">
                <input id="field_endTime" type="datetime-local" class="form-control" name="endTime" [(ngModel)]="task.endTime"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backendApp.task.confidence" for="field_confidence">Confidence</label>
            <input type="number" class="form-control" name="confidence" id="field_confidence"
                [(ngModel)]="task.confidence"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
