<form class="form-inline">
  <div class="form-group">
    <p class="p-control">地市：</p>
    <div class="input-group">
      <select class="form-control" name="obj" [(ngModel)]="statisticecondition.area" style="height: 36px">
        <option *ngFor="let op of _cellTypes" [value]="op.value">{{op.label}}</option>
      </select>
    </div>
  </div>

  <!-- 分隔 -->
  <div style="width: 30px"></div>

  <div class="form-group">
    <p class="p-control">干扰时间：</p>
    <div class="input-group">
      <my-date-picker name="mydate" [options]="myDatePickerOptions" style="width: 160px;height: 36px"
                      [(ngModel)]="statisticecondition.date"></my-date-picker>
    </div>
  </div>


  <!-- 分隔 -->
  <div style="width: 30px"></div>

  <div class="form-group">
    <p class="p-control">设备：</p>
    <div class="input-group">
      <select class="form-control" name="datatype" [(ngModel)]="statisticecondition.device" style="height: 36px">
        <option *ngFor="let op of _device" [value]="op.value">{{op.label}}</option>
      </select>
    </div>
  </div>

  <!-- 分隔 -->
  <div style="width: 30px"></div>

  <p class="p-control">小区名称：</p>
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" name="cellInput" [(ngModel)]="statisticecondition.inputValue" placeholder="多个小区以逗号隔开">
    </div>
  </div>

  <!-- 分隔 -->
  <div style="width: 40px"></div>

  <div class="form-group">
    <div class="input-group">
      <input type="radio" checked="checked" name="tableValue" value="table" [(ngModel)]="statisticecondition.showType">
    </div>
    <p class="p-control">表格</p>
    <div style="width: 10px"></div>
    <div class="input-group">
      <input type="radio" name="chartValue" value="chart" [(ngModel)]="statisticecondition.showType">
    </div>
    <p class="p-control">图形</p>
  </div>

  <div style="width: 50px"></div>

  <div class="form-group">
    <div class="input-group">
      <button type="button" class="btn btn-default"  (click)="statisticsClick($event)" icon="fa-search">干扰统计</button>
    </div>
  </div>

  <div style="width: 20px"></div>

  <div class="form-group">
    <div class="input-group">
      <button type="button" class="btn btn-default"  (click)="analysisClick($event)" icon="fa-search"
              [disabled]="statisticecondition.inputValue==''||statisticecondition.inputValue.trim()==''">小区干扰分析</button>
    </div>
  </div>

</form>

