
<div *ngIf="solve">
    <h2><span jhiTranslate="backendApp.solve.detail.title">Solve</span> {{solve.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backendApp.solve.prb0">Prb 0</span></dt>
        <dd>
            <span>{{solve.prb0}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb1">Prb 1</span></dt>
        <dd>
            <span>{{solve.prb1}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb2">Prb 2</span></dt>
        <dd>
            <span>{{solve.prb2}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb3">Prb 3</span></dt>
        <dd>
            <span>{{solve.prb3}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb4">Prb 4</span></dt>
        <dd>
            <span>{{solve.prb4}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb5">Prb 5</span></dt>
        <dd>
            <span>{{solve.prb5}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb6">Prb 6</span></dt>
        <dd>
            <span>{{solve.prb6}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb7">Prb 7</span></dt>
        <dd>
            <span>{{solve.prb7}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb8">Prb 8</span></dt>
        <dd>
            <span>{{solve.prb8}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb9">Prb 9</span></dt>
        <dd>
            <span>{{solve.prb9}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb10">Prb 10</span></dt>
        <dd>
            <span>{{solve.prb10}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb11">Prb 11</span></dt>
        <dd>
            <span>{{solve.prb11}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb12">Prb 12</span></dt>
        <dd>
            <span>{{solve.prb12}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb13">Prb 13</span></dt>
        <dd>
            <span>{{solve.prb13}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb14">Prb 14</span></dt>
        <dd>
            <span>{{solve.prb14}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb15">Prb 15</span></dt>
        <dd>
            <span>{{solve.prb15}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb16">Prb 16</span></dt>
        <dd>
            <span>{{solve.prb16}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb17">Prb 17</span></dt>
        <dd>
            <span>{{solve.prb17}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb18">Prb 18</span></dt>
        <dd>
            <span>{{solve.prb18}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb19">Prb 19</span></dt>
        <dd>
            <span>{{solve.prb19}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb20">Prb 20</span></dt>
        <dd>
            <span>{{solve.prb20}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb21">Prb 21</span></dt>
        <dd>
            <span>{{solve.prb21}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb22">Prb 22</span></dt>
        <dd>
            <span>{{solve.prb22}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb23">Prb 23</span></dt>
        <dd>
            <span>{{solve.prb23}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb24">Prb 24</span></dt>
        <dd>
            <span>{{solve.prb24}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb25">Prb 25</span></dt>
        <dd>
            <span>{{solve.prb25}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb26">Prb 26</span></dt>
        <dd>
            <span>{{solve.prb26}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb27">Prb 27</span></dt>
        <dd>
            <span>{{solve.prb27}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb28">Prb 28</span></dt>
        <dd>
            <span>{{solve.prb28}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb29">Prb 29</span></dt>
        <dd>
            <span>{{solve.prb29}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb30">Prb 30</span></dt>
        <dd>
            <span>{{solve.prb30}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb31">Prb 31</span></dt>
        <dd>
            <span>{{solve.prb31}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb32">Prb 32</span></dt>
        <dd>
            <span>{{solve.prb32}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb33">Prb 33</span></dt>
        <dd>
            <span>{{solve.prb33}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb34">Prb 34</span></dt>
        <dd>
            <span>{{solve.prb34}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb35">Prb 35</span></dt>
        <dd>
            <span>{{solve.prb35}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb36">Prb 36</span></dt>
        <dd>
            <span>{{solve.prb36}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb37">Prb 37</span></dt>
        <dd>
            <span>{{solve.prb37}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb38">Prb 38</span></dt>
        <dd>
            <span>{{solve.prb38}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb39">Prb 39</span></dt>
        <dd>
            <span>{{solve.prb39}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb40">Prb 40</span></dt>
        <dd>
            <span>{{solve.prb40}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb41">Prb 41</span></dt>
        <dd>
            <span>{{solve.prb41}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb42">Prb 42</span></dt>
        <dd>
            <span>{{solve.prb42}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb43">Prb 43</span></dt>
        <dd>
            <span>{{solve.prb43}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb44">Prb 44</span></dt>
        <dd>
            <span>{{solve.prb44}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb45">Prb 45</span></dt>
        <dd>
            <span>{{solve.prb45}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb46">Prb 46</span></dt>
        <dd>
            <span>{{solve.prb46}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb47">Prb 47</span></dt>
        <dd>
            <span>{{solve.prb47}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb48">Prb 48</span></dt>
        <dd>
            <span>{{solve.prb48}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb49">Prb 49</span></dt>
        <dd>
            <span>{{solve.prb49}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb50">Prb 50</span></dt>
        <dd>
            <span>{{solve.prb50}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb51">Prb 51</span></dt>
        <dd>
            <span>{{solve.prb51}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb52">Prb 52</span></dt>
        <dd>
            <span>{{solve.prb52}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb53">Prb 53</span></dt>
        <dd>
            <span>{{solve.prb53}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb54">Prb 54</span></dt>
        <dd>
            <span>{{solve.prb54}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb55">Prb 55</span></dt>
        <dd>
            <span>{{solve.prb55}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb56">Prb 56</span></dt>
        <dd>
            <span>{{solve.prb56}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb57">Prb 57</span></dt>
        <dd>
            <span>{{solve.prb57}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb58">Prb 58</span></dt>
        <dd>
            <span>{{solve.prb58}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb59">Prb 59</span></dt>
        <dd>
            <span>{{solve.prb59}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb60">Prb 60</span></dt>
        <dd>
            <span>{{solve.prb60}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb61">Prb 61</span></dt>
        <dd>
            <span>{{solve.prb61}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb62">Prb 62</span></dt>
        <dd>
            <span>{{solve.prb62}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb63">Prb 63</span></dt>
        <dd>
            <span>{{solve.prb63}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb64">Prb 64</span></dt>
        <dd>
            <span>{{solve.prb64}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb65">Prb 65</span></dt>
        <dd>
            <span>{{solve.prb65}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb66">Prb 66</span></dt>
        <dd>
            <span>{{solve.prb66}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb67">Prb 67</span></dt>
        <dd>
            <span>{{solve.prb67}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb68">Prb 68</span></dt>
        <dd>
            <span>{{solve.prb68}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb69">Prb 69</span></dt>
        <dd>
            <span>{{solve.prb69}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb70">Prb 70</span></dt>
        <dd>
            <span>{{solve.prb70}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb71">Prb 71</span></dt>
        <dd>
            <span>{{solve.prb71}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb72">Prb 72</span></dt>
        <dd>
            <span>{{solve.prb72}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb73">Prb 73</span></dt>
        <dd>
            <span>{{solve.prb73}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb74">Prb 74</span></dt>
        <dd>
            <span>{{solve.prb74}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb75">Prb 75</span></dt>
        <dd>
            <span>{{solve.prb75}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb76">Prb 76</span></dt>
        <dd>
            <span>{{solve.prb76}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb77">Prb 77</span></dt>
        <dd>
            <span>{{solve.prb77}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb78">Prb 78</span></dt>
        <dd>
            <span>{{solve.prb78}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb79">Prb 79</span></dt>
        <dd>
            <span>{{solve.prb79}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb80">Prb 80</span></dt>
        <dd>
            <span>{{solve.prb80}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb81">Prb 81</span></dt>
        <dd>
            <span>{{solve.prb81}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb82">Prb 82</span></dt>
        <dd>
            <span>{{solve.prb82}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb83">Prb 83</span></dt>
        <dd>
            <span>{{solve.prb83}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb84">Prb 84</span></dt>
        <dd>
            <span>{{solve.prb84}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb85">Prb 85</span></dt>
        <dd>
            <span>{{solve.prb85}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb86">Prb 86</span></dt>
        <dd>
            <span>{{solve.prb86}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb87">Prb 87</span></dt>
        <dd>
            <span>{{solve.prb87}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb88">Prb 88</span></dt>
        <dd>
            <span>{{solve.prb88}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb89">Prb 89</span></dt>
        <dd>
            <span>{{solve.prb89}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb90">Prb 90</span></dt>
        <dd>
            <span>{{solve.prb90}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb91">Prb 91</span></dt>
        <dd>
            <span>{{solve.prb91}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb92">Prb 92</span></dt>
        <dd>
            <span>{{solve.prb92}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb93">Prb 93</span></dt>
        <dd>
            <span>{{solve.prb93}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb94">Prb 94</span></dt>
        <dd>
            <span>{{solve.prb94}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb95">Prb 95</span></dt>
        <dd>
            <span>{{solve.prb95}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb96">Prb 96</span></dt>
        <dd>
            <span>{{solve.prb96}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb97">Prb 97</span></dt>
        <dd>
            <span>{{solve.prb97}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb98">Prb 98</span></dt>
        <dd>
            <span>{{solve.prb98}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.prb99">Prb 99</span></dt>
        <dd>
            <span>{{solve.prb99}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.taskId">Task Id</span></dt>
        <dd>
            <span>{{solve.taskId}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.solve.taskId">Task Id</span></dt>
        <dd>
            <span *ngFor="let taskId of solve.taskIds; let last = last">
                <a [routerLink]="['/interfere', taskId?.id ]">{{taskId.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'solve/'+ solve.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
