page-perception-trend {
  .cards-bg{
    background: #efeff4;
  }
  .ionCardHeader{
    color: #00f;
  }
  .button-work{
    border-radius: 2px;
    width: 100%;
  }
  .ion-option{
    color: #8e8e93;
  }
}
