<div class="row">
  <ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-12"
           title="小区指标异常统计" baCardClass="traffic-panel auto-card">

    <xdr-exception (search)="searchExceptionData($event)"
            (export)="exportExceptionData($event)"
    ></xdr-exception>

    <!-- 分隔 -->
    <div style="height: 15px"></div>
    <div *ngIf="isShowLoading" class="loading">加载中...</div>
    <div #notFoundData style="display: none" class="warning">没有找到相应的数据</div>
    <div #programError style="display: none" class="warning">后台程序服务错误</div>

    <div style="width: 100%; overflow:auto;">
      <xdr-exceptionshow [hidden]="isShowExceptionTable==false"
                 (paragrams)="searchParameterData($event)"
                 (pageChanges)="pageParameterData($event)"
                 [inputs]="datas"
      >
      </xdr-exceptionshow>
    </div>

  </ba-card>
</div>
